.dialogues {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialoguesList {
    padding: 10px;
}

.dialogueItem {

}

.dialogueItem .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}